@import "Home/index", "Layouts/layouts";
.roadmap {
    background-image: url("../assets/img/bg-ikan.png");
    background-position: center;
    background-size: contain;
    h1 {
        color: #000000;
    }
}
